body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

/*Guest pages or Auth */
.auth-page{
    color: #444;
    background-image: url(../images/guest-body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.auth-page.trainer-register-page{
    color: #444;
    background-image: url(../images/trainer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.auth-page .site-logo{
    text-align: center;
    margin-top: 80px;
}
.auth-page .site-logo img{
    max-width: 250px;
}
.main-logo img{
  max-width: 250px;
  max-height : 60px;
}
/*Login*/
.panel-trasparent{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
.transparent-panel-heading {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 0;
}


.panel-trasparent .panel-heading h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.09em;
    font-size: 30px;
}
.panel-trasparent .panel-body{
    padding: 15px 40px;
}
.login-form .panel-heading .login-icon,
.register-form .panel-heading .login-icon,
.forgot-pass .panel-heading .fp-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #0fc6ca;
    border-radius: 100px;
    text-align: center;
}
.login-form .panel-heading .login-icon i,
.register-form .panel-heading .login-icon i,
.forgot-pass .panel-heading .fp-icon i{
    color: #0fc6ca;
    font-size: 25px;
    line-height: 40px;
}
.login-form label,
.register-form label,
.forgot-pass label,{
    font-size: 16px;
    color: #b6b8b5;
    display: block;
    font-weight: 500;
    text-align: left;
}
label.col-sm-12 {
  font-size: 16px;
  color: #b6b8b5;
  display: block;
  font-weight: 500;
  text-align: left;
}
.form-label {
  font-size: 16px;
  color: #b6b8b5;
  font-weight: 500;
}

.login-form .form-control,
.register-form .form-control{
    border-radius: 5px;
    border: 1px solid #000;
    background: #313131;
    padding: 0 10px;
    color: #fff;
}
.login-form .forgot-pass{
    clear: both;
    display: inline-block;
    font-size: 14px;
    color: #b6b8b5;
    margin-top: 15px;
    border-bottom: 1px dotted #b6b8b5;
    padding-bottom: 3px;
}
.login-form .forgot-pass:hover{
    text-decoration: none;
}
.login-form .login-btn,
.register-form .register-btn,
.forgot-pass .fp-btn{
    display: block;
    float: right;
    background: #1aafd0;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #000;
    padding: 13px 34px;
    display: block;
    clear: both;
    border-radius: 5px;
}
.social-login {
    clear: both;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 15px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}
.social-login p {
    color: 7b7a7a;
    font-size: 16px;
    margin-bottom: 15px;
}
.social-login .button-group a {
    display: inline-block;
    width: 185px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    background: #000;
    float: left;
    color: #fff;
}
.social-login .button-group a.fb {
    background-color: #406ebc;
}

.social-login .button-group a.google {
    background-color: #df3e14;
    float: right;
}

.login-form .new-user,
.register-form .already-user{
    padding: 10px 0;
    text-align: right;
}
.login-form .new-user span,
.register-form .already-user span{
    font-size: 14px;
    color: #fff;
}


/*Change height of navbar */
.login-form .sign-up,
.register-form .login-here{
    font-size: 14px;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 5px 15px;
    margin-left: 12px;
    text-decoration: none;
}
.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

img.avatar {
    height:  50px;
    max-width : 70px;
}

img.avatar-peoplelist {
    height:  50px;
    width : 50px;
}
